
$primary-color: #6B3CC9;
$secondary-color: #F28D35;
$analogus-color1: #6A44F2;
$analogus-color2: #1CBDDD;
$tradic-color: #52378C;
$dark-color: #78BF91;
$text-color: #545A75;
$text-color-light: #9C9991;
$accent-wizard-color: #E2F2FE;
$tradic-cuddyl-color: #FFF8E0;
$error-color: #FF0335;
$success-color: #5EB30B;
$white-color: #FFFFFF;
$black-color: #000000;
$muted-color: #f7f6f8;